<!DOCTYPE html>
<html>
<head>    
    <title>IMDb</title>
    <meta name="description" content="Error">
    <meta name="keyword" content="Java">
    <meta name="author" content="Manuel, Tang, Tee">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="icon" type = "image/x-icon" href="https://upload.wikimedia.org/wikipedia/commons/c/cc/IMDb_Logo_Square.svg">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
</head>
<body>
    <p id="error-title">Error 404: Page Not Found</p>
</body>
</html>