<!DOCTYPE html>
<html>
<head>    
    <title>IMDb</title>
    <meta name="description" content="Main">
    <meta name="keyword" content="Java">
    <meta name="author" content="Manuel, Tang, Tee">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="icon" type = "image/x-icon" href="https://upload.wikimedia.org/wikipedia/commons/c/cc/IMDb_Logo_Square.svg">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="/js/generate.js" type="text/javascript"></script>
    <script src="/js/multiquery.js" type="text/javascript"></script>
</head>
<body>
    <p id="website-title">IMDb</p>
    
    <!-- TRANSACTIONS -->
    <div id="query-box">
        <div id="div-pick">
            <p class="text-transaction"><a onclick="window.location.href=this">Transaction |</a></p>
            <form id="radio-transaction">
                <input type="radio" id="radio-multi" class="radio-query" name="query-count" value="Multi">
                <label for="radio-multi">Multiple Queries</label>
            </form>
        </div>
        
        <div id="div-form">
            <form id="query-form" action="/query" method="post">
                <p class='text-node'>Input Single Query</p>
                <input type="text area"><br>
                <p class='text-node'>Select Node to Generate</p>
                <select name='node' class='form-generate'>
                    <option value='empty'>Select Node</option>
                    <option value='node-1'>Node 1</option>
                    <option value='node-2'>Node 2</option>
                    <option value='node-3'>Node 3</option>
                </select>
                <input type="number" id="limit-quantity" class="form-generate" name="limit" min="1" placeholder="Row Limit">
                
            </form>
        </div>

        <div id="div-buttons">
            <button id="generate-button" class="interactive-buttons">Generate</button>
            <button id="execute-button" class="interactive-buttons" style="display: none;">Execute</button>
        </div>
    </div>

    <!-- DISPLAY -->
    <div id="query-results">
        <div id="results-box">
            <p id="text-results">Results</p>
        </div>
        
    </div>
</body>
</html>