<!DOCTYPE html>
<html>
<head>    
    <title>IMDb</title>
    <meta name="description" content="Home page">
    <meta name="keyword" content="Java">
    <meta name="author" content="Manuel, Tang, Tee">
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
    <link rel="icon" type = "image/x-icon" href="https://upload.wikimedia.org/wikipedia/commons/c/cc/IMDb_Logo_Square.svg">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="/js/singlequery.js" type="text/javascript"></script>
</head>
<body>
    <p id="website-title">IMDb</p>
    
    <!-- TRANSACTIONS -->
    <div id="query-box">
        <div id="div-pick">
            <p id="text-transaction">Transaction | </p>
            <form id="radio-transaction">
                <input type="radio" id="radio-single" class="radio-query" name="query-count" value="Single">
                <label for="radio-single">Single Query</label>
                <input type="radio" id="radio-multi" class="radio-query" name="query-count" value="Multi">
                <label for="radio-multi">Multiple Queries</label>
            </form>
        </div>
        
        <div id="div-form">
            <form id="query-form">
            </form>
        </div>
        
        <div id="div-buttons">
            <button id="search-button" class="interactive-buttons" style="display: none;">Execute</button>
            <button id="generate-button" class="interactive-buttons">Generate</button>
        </div>
    </div>

    <!-- DISPLAY -->
    <div id="query-results">
        <div id="results-box">
            <p id="text-results">Results</p>
        </div>
        
    </div>
</body>
</html>